stream {
    upstream udp_backend {
	    hash $remote_addr consistent;
        {{- range .server }}
            {{.}}
        {{- end }}
    }

    server {
	    listen 59633 udp reuseport;
	    proxy_pass udp_backend;
    }
}
